{%  extends 'home/popup_header.html' %}
{% block content %}
    
    <!-- Page Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h1 class="mt-5">'Activation link is invalid!'</h1>
          <p class="lead">Try to create a new account, or reset your password. If this problem persists, use the contact form
          to contact the admin.</p>
            <p class="lead">Take me <a href="/home">home</a> </p>
        </div>
      </div>
    </div>

{% endblock %}