{%  extends 'console/base.html' %}

{% block content %}
{% load static %}
    <link rel="stylesheet" href="{% static 'home/css/consolecustom.css'%} ">
      <body>
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-9 col-sm col-md-10 col-md main">
              <div class="row ">
                <div class="col col-sm-7 ">
                    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
                    <script type="text/javascript">
                        google.load("visualization", "1", {packages:["corechart"]});

                    </script>

                    {{ chart.as_html }}

                <div class="card card-block" style="width: 50rem;">
                    <h3 class="card-title">
                        {% if wallettag %}
                            {{ wallettag }}
                        {% else  %}
                            {{ wallet }}
                        {% endif %}
                    </h3>
                    <ul style="list-style: none;">
                    {% if wallettag %}
                    <li><span class="text-muted">{{ wallet }}</span></li>
                    {% endif %}
                    <li><span class="text-muted">Balance: {{ balance }}</span></li>
                    <li><span class="text-muted">Total staking reward: {{ total_reward }}</span></li>
                    {% if status %}
                    <li><span class="text-muted">Status: {{ status }}</span></li>
                    {% endif %}
                    <li><span class="text-muted">Delegate: {{ current_delegate }}</span></li>
                    <li><span class="text-muted">Blockheight: {{ height }}</span></li>
                    </ul>
                    <a href="https://explorer.ark.io/address/{{ wallet }}" class="btn btn-primary">Explorer</a>
                </div>
              </div>
                 {% if not info %}
              <h2 class="sub-header">Payout history</h2>
              <div class="table-responsive container">
                <table class="table table-fill">
                  <thead>
                    <tr>
                      <th>Amount</th>
                      <th>Date (UTC)</th>
                      <th>Share percentage</th>
                      <th>Delegate</th>
                    </tr>
                  </thead>
                  <tbody>
                        {% for tx in tx_history %}
                     <tr>
                        <td>Ѧ{{ tx.amount }}</td>
                        <td>{{ tx.time }}</td>
                        <td>{{ tx.share }}%</td>
                        <td>{{ tx.delegate }}</td>
                     </tr>
                        {% endfor %}
                    {% else %}
                     <div class="alert alert-info container">
                      <strong>Info!</strong> it seems that our ark node cannot find your address. Most likely
                         there is a typo in your address, which you can change <a href="/console/update/">here</a>. Always try to copy/paste
                         addresses. The next possibility
                         is that you have never sent a transaction of any type yet, which means there is no record of you in the blockchain.
                        <h4 class="sub-header"></h4>
                     </div>
                    {% endif %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
    </div>
{% endblock %}
