{% block labelbar %}
<div>
    <ul class="nav nav-tabs">
        <li><a href="">Payout Report</a></li>
        <li ><a href="">Balance Report</a></li>
        <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Analytics
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">Delegates Report</a></li>
          <li class="active"><a href="#">Ark Distribution</a></li>
          <li><a href="#">Exchange Report</a></li>
        </ul>
        </li>
    </ul>
</div>
{% endblock labelbar %}
