{%  extends 'console/consolebase.html' %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static '/home/css/custom.css' %}">
<script>$('#sidebar').affix({
      offset: {
        top: $('header').height()
      }
});
</script>

<script>
$('.scroll').click(function() {
    $('body').animate({
        scrollTop: eval($('#' + $(this).attr('target')).offset().top - 70)
    }, 1000);
});
</script>
<script>
// When the user clicks on <div>, open the popup
function myFunction() {
    var popup = document.getElementById("myPopup");
    popup.classList.toggle("show");
}
</script>

<div>
&nbsp;
</div>

<div class="container">
<div class="row">
<form action="{% url 'save_account_settings' %}" method="POST" class="padding">
        <div class="col-md-9">
            <div id="Account">
            <h2>Account</h2>
            <p>Account settings</p>
                <div class="container">
                    <div class="row">
                        <div class="col-md-9">
                        {% csrf_token %}
                        {{ passwordform.as_p }}
                        <button type="submit" class="btn btn-primary btn-sm left" contenteditable="false">Save</button>
                        <a class="btn btn-primary btn-sm left" contenteditable="false" href="{% url 'console_update' %}">Restore</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</form>


<form action="{% url 'save_general' %}" method="POST" class="padding">
        <div class="col-md-9">
            <div id="general">
            <h2>General</h2>
            <p>General settings</p>
                <div class="container">
                    <div class="row">
                        <div class="col-md-9">
                        {% csrf_token %}
                        {{ formset.preferred_day.label }} <br>
                        {{ formset.preferred_day|add_class:'form-control' }} <br>
                        {{ formset.inform_by_email.label }} <br>
                        {{ formset.inform_by_email|add_class:'form-control' }} <br>

                       <button type="submit" class="btn btn-primary btn-sm left" contenteditable="false">Save</button>
                       <a class="btn btn-primary btn-sm left" contenteditable="false" href="{% url 'console_update' %}">Restore</a>
                        </div>
                    </div>
                </div>
            </div>
            <div id="ark">
            <h2>ARK</h2>
            <p>ARK-ecosystem wallet settings</p>
                <div class="container">
                    <div class="row">
                        <div class="col-md-9">
                        {% csrf_token %}
                        {{ formset.main_ark_wallet.label }}<br>
                        {{ formset.main_ark_wallet|add_class:'form-control' }} <br>

                        {{ formset.main_ark_tag.label }}     <br>
                        {{ formset.main_ark_tag|add_class:'form-control' }}     <br>

                        {{ formset.payout_frequency.label }} <br>
                        {{ formset.payout_frequency|add_class:'form-control' }} <br>
                        <button type="submit" class="btn btn-primary btn-sm left" contenteditable="false">Save</button>
                        <a class="btn btn-primary btn-sm left" contenteditable="false" href="{% url 'console_update' %}">Restore</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </form>
    </div>
          <h2>Security Tokens</h2>
            <table class="table-fill">
            <thead>
                <tr>
                <th class="text-left">Cryptocurrency</th>
                <th class="text-left">Token</th>
                </tr>
            </thead>
            <tbody class="table-hover">
                <tr>
                <td class="text-left">ARK</td>
                <td class="text-left">{{ arktoken }}</td>
                </tr>
            </tbody>
        </table>

        </div>
        <div class="span9"></div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>

</div>
{% endblock %}